body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#expenses-form {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #292929;
  color: white;
}

td {
  color: white;
  cursor: pointer;
  background-color: #1f1f1f;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #2a2d31;
  color: white;
}

td.today {
  background-color: rgb(71, 158, 245);
  color: white;
}

td.event {
  color: white;
}
