* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  padding: 20px;
}

.calendar-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #292929;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  max-height: 400px; /* Set max-height for the table body */
  overflow-y: auto; /* Allow scrolling in the table body */
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 80px;
}

th {
  background-color: #292929;
  color: white;
}

td {
  height: 50px;
  color: white;
  cursor: pointer;
  background-color: #1f1f1f;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #2a2d31;
  color: white;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #292929;
}

tbody td {
  height: 40px;
}

th:nth-child(1),
td:nth-child(1) {
  min-width: 20px;
  background-color: #292929;
  color: white;
}

/* tr:nth-child(2) td:nth-child(2) {
    background-color: aqua;
  } */

button {
  font-size: 16px;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  overflow: hidden;

  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.ButtonChoice {
  background-color: #000000;
  color: white;
}
.ButtonChoice:hover {
  box-shadow: 0 0 20px #1e1e1e, 0 0 30px #141414;
  border: 1px solid #ffffff;
}

.OtherButtonChoice {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.OtherButtonChoice:hover {
  box-shadow: 0 0 20px #1f1f1f, 0 0 30px #1f1f1f;
  border: 1px solid #000000;
  background-color: #000000;
  color: white;
}
