body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #000000;
  color: white;
}

/* h1 {
  color: #333;
} */

#calendar-container {
  margin-top: 20px;
  overflow-x: auto;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  background-color: #292929;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #292929;
  color: white;
}

td {
  color: white;
  cursor: pointer;
  background-color: #1f1f1f;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #2a2d31;
  color: white;
}

td.today {
  background-color: rgb(71, 158, 245);
  color: white;
}

td.event {
  color: white;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 1em;
}

input[type="number"] {
  width: 50px;
  text-align: center;
}
